.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}
.setting-wrapper {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title {
  font-size: 24px;
}

.panel {
  background: rgb(69, 69, 69);
  padding: 16px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.token-block {
  border: 1px solid #333;
  border-radius: 20px;
  padding: 16px;
  width: 100%;
}
.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  font-size: 16px;
  color: #d0d0d0;
}
.quick-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.action {
  color: cadetblue;
  cursor: pointer;
  &:hover {
    color: rgb(57, 109, 197);
  }
}
.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  gap: 4px;
  height: 50px;
}
.input {
  background: rgb(69, 69, 69);
  border: none;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
}
.input::placeholder {
  color: #d0d0d0;
  font-size: 30px;
}
.input:focus {
  outline: none;
}
.token-selector {
  background: rgb(58, 58, 58);
  border: none;
  border-radius: 16px;
  padding: 8px;
  color: #ffffff;
  display: flex;
}
.token-selector img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.symbol {
  margin-right: 8px;
}

.swap-arrow {
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swap-arrow:hover {
  background: rgb(0, 0, 0);
  border-radius: 50%;
  cursor: pointer;
}
.swap-arrow svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.balance {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #918f8f;
}
.swap-button {
  background-color: #f0b90b;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}
.swap-button:disabled {
  opacity: 0.5;
}
.connect-btn {
  background-color: #f0b90b !important;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.routes {
  width: 100%;
}
.routes .route-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.routes .route-list .route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #333;
  border-radius: 20px;
}
